@font-face{
   font-family:GodoMaum;
   src:url('../font/godoMaum.ttf');
}

@font-face{
   font-family:GodoM;
   src:url('../font/GodoM.ttf');
}

@font-face{
   font-family:GodoB;
   src:url('../font/GodoB.ttf');
}

#title {
   
   -fx-font-family: GodoM;
}

.text {
   -fx-font-family: GodoM;
}

.button {
   -fx-font-family: GodoM;
}

.label {
   -fx-font-family: GodoM;
   -fx-font-size:12px;
}

.bold{
   -fx-font-family: GodoB;
   -fx-font-size:12px;
}